*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    min-width:100px;
    min-height :100px;
    padding: 5rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.grandparent{
    color: black;
    background-color: wheat;
}

.parent{
 background-color: cyan;

}

.child{
    background-color: tomato;
}